<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>


<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#commentform" role="button" aria-expanded="false" aria-controls="commentform">Leave a Comment</a>
</p>

<div class="collapse" id="commentform">

  <form method="POST" action="/articles/comments">
    <textarea class="form-control" rows="3" name="content" id="content"></textarea>
    <br/>
    <label for="name">Name:</label>
    <input name="name" type="text" class="form-control" placeholder="name">
    <br/>
    <input name="articleId" type="hidden" value="<%= article.id %>">
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
<br/>


<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#comments" role="button" aria-expanded="false" aria-controls="comments">See All Comments</a>
</p>
<div class="collapse" id="comments">
 
<% article.comments.forEach(comment => {%>
 <div class="card">
    <div class="card-body">
      <strong><%= comment.name %></strong> <i>(<%= moment().from(comment.createdAt, true)%> ago)</i>: <%= comment.content %>
    </div>
  </div>
<%})%>

</div>

<hr />

<a href="/">&larr; Back Home</a>
