<h1><%= article.title %></h1>
<!-- <%//console.log(article.createdAt, article.updatedAt, article.createdAt !== article.updatedAt)%> -->

<p><strong>Created <%= moment(article.createdAt).calendar() %></strong></p>
<p><strong>by <%= article.author.getFullName() %></strong></p>

<div class="panel panel-default">
<div class="panel-body">
  <p><%= article.content %></p>
</div>
</div>
<p><small>Last Updated <%= moment(article.updatedAt).calendar() %></small></p>

<p>
  <a href="/articles/<%= article.id %>/edit">Edit Article</a>
</p> 

<hr />

<h4>Comments</h4>
<% if(!article.comments.length || article.comments.length === 0) { %>

  <p>Nobody has left a comment yet... be the first below!</p>

<%} else if(article.comments.length === 1) { %>
  <%console.log(article.comments)%>
  <div class="well">
    <div>
      <strong><%= article.comments[article.comments.length - 1].name %></strong> <i>(<%= moment().from(article.comments[article.comments.length - 1].createdAt, true)%> ago)</i>: <%= article.comments[article.comments.length - 1].content %>
    </div>

    <form action="/articles/comments/<%=article.comments[article.comments.length - 1].id%>/?_method=DELETE" method="POST">
      <input type="hidden" name="articleId" value="<%=article.id%>">
      <button class="btn btn-link" type="submit">REMOVE</button>
    </form>
  </div>

<% } else if (article.comments.length === 2) { %>

  <div class="well">
    <div>
      <strong><%= article.comments[article.comments.length - 1].name %></strong> <i>(<%= moment().from(article.comments[article.comments.length - 1].createdAt, true)%> ago)</i>: <%= article.comments[article.comments.length - 1].content %>
    </div>
    <form action="/articles/comments/<%=article.comments[article.comments.length - 1].id%>/?_method=DELETE" method="POST">
      <input type="hidden" name="articleId" value="<%=article.id%>">
      <button class="btn btn-link" type="submit">REMOVE</button>
    </form>
  </div>

  <div class="well">
    <div>
      <strong><%= article.comments[article.comments.length - 2].name %></strong> <i>(<%= moment().from(article.comments[article.comments.length - 2].createdAt, true)%> ago)</i>: <%= article.comments[article.comments.length - 2].content %>
    </div>
    <form action="/articles/comments/<%=article.comments[article.comments.length - 2].id%>/?_method=DELETE" method="POST">
      <input type="hidden" name="articleId" value="<%=article.id%>">
      <button class="btn btn-link" type="submit">REMOVE</button>
    </form>
  </div>

<% } else { %>

  <p>
    <a id="see-comments-link" data-toggle="collapse" href="#comments" role="button" aria-expanded="false" aria-controls="comments">See All Comments</a>
  </p>

  <div class="well">
    <div>
      <strong><%= article.comments[article.comments.length - 1].name %></strong> <i>(<%= moment().from(article.comments[article.comments.length - 1].createdAt, true)%> ago)</i>: <%= article.comments[article.comments.length - 1].content %>
    </div>
    <form action="/articles/comments/<%=article.comments[article.comments.length - 1].id%>/?_method=DELETE" method="POST">
      <input type="hidden" name="articleId" value="<%=article.id%>">
      <button class="btn btn-link" type="submit">REMOVE</button>
    </form>
  </div>
  
  <div class="well">
    <div>
      <strong><%= article.comments[article.comments.length - 2].name %></strong> <i>(<%= moment().from(article.comments[article.comments.length - 2].createdAt, true)%> ago)</i>: <%= article.comments[article.comments.length - 2].content %>
    </div>
    <form action="/articles/comments/<%=article.comments[article.comments.length - 2].id%>/?_method=DELETE" method="POST">
      <input type="hidden" name="articleId" value="<%=article.id%>">
      <button class="btn btn-link" type="submit">REMOVE</button>
    </form>
  </div>
  
  <div class="collapse" id="comments">

    <% for(let i = article.comments.length - 3; i >= 0; i--) {%>
  
      <div class="well">
        <div>
          <strong><%= article.comments[i].name %></strong> <i>(<%= moment().from(article.comments[i].createdAt, true)%> ago)</i>: <%= article.comments[i].content %>
        </div>
        <form action="/articles/comments/<%=article.comments[i].id%>/?_method=DELETE" method="POST">
          <input type="hidden" name="articleId" value="<%=article.id%>">
          <button class="btn btn-link" type="submit">REMOVE</button>
        </form>
      </div>
    <%}%>
  
  </div>
  

<% } %>

<br/>

<!-- ADD COMMENT FORM -->

<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#commentform" role="button" aria-expanded="false" aria-controls="commentform">Leave a Comment</a>
</p>

<div class="collapse" id="commentform">

  <form method="POST" action="/articles/comments">
    <textarea class="form-control" rows="3" name="content" id="content" placeholder="Tell us what you think!"></textarea>
    <br/>
    <label for="name">Name:</label>
    <input name="name" type="text" class="form-control" placeholder="Name or Username">
    <br/>
    <input name="articleId" type="hidden" value="<%= article.id %>">
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>

<br/>
<a href="/">&larr; Back Home</a>


